.column {
  text-align: left;
  display: inline-block;
  min-width: 20%;
  padding: 8px;
  margin-right: 5%;
  cursor: pointer;
}
.trip-container {
  margin: 20px auto;
  margin-left: 0%;
  text-align: left;
}

.trip-container-common {
  border: 1px solid #acacac;
}
.trip-container-selected {
  border: 1px solid #009cff;
}

.trip-container img {
  height: 240px;
  width: 240px;
  object-fit: cover;
  display: block;
}

.trip-info {
  text-align: left;
  background-color: white;
  color: black;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
}

.city-name {
  margin: 0;
  font-size: 20px;
  margin-bottom: 2%;
}

.trip-dates {
  margin-top: 2%;
  font-weight: 100;
  color: grey;
}
