.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

li span {
  font-weight: 700;
  display: block;
  font-size: 3rem;
}

@media screen and (max-width: 1280px) {
  li {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1025px) {
  li {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
  }
}
