@import url("https://fonts.googleapis.com/css2?&family=Roboto:wght@100;300;400;500&display=swap");
.Home {
  height: 100vh;
  margin: 0;
}

.split-container {
  display: flex;
  height: 100%;
}

.left {
  width: 70vw;
}

.right {
  width: 30vw;
}

body {
  font-family: "Roboto", sans-serif;
}
